body {
  background: #fff;
}

h1 {
  display: none;
  font: Courier;
  font-size: 2em;
  color:red;
}

div.details div.container >div { /*bold category names */
  font-family: sans-serif;
  font-size: 1em;
  font-weight: bold;
  line-height: 1.5em;
  color:blue;
}

div.details {
  font-family: sans-serif;
  font-size: 1em;
  font-weight: italic;
  line-height: 1.5em;
  color:orange;
  
}

div.details{
  position: relative;
  float: right;
  width: 70%;


}

div.details .container {
  width: 90%;
  margin: auto;
}

 p.music { /*Music text*/
  font-family: sans-serif;
  font-size: 1em;
  font-style: oblique;
  line-height: 1.5em;
  color:green;
  text-align: center;
  position: relative;
  
}


div.details ul li {
  color:purple;
}

.polaroid {
  position: relative;
  width: 30%;
  text-align: center;
  float: left;
}
 
.polaroid img {
  border: 10px solid  #ed6767;
  border-bottom: 45px solid  #ed6767;
  -webkit-box-shadow: 3px 3px 3px #777;
     -moz-box-shadow: 3px 3px 3px #777;
          box-shadow: 3px 3px 3px #777;
}
 
.polaroid p {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0px;
  font: 400 18px/1 'Kaushan Script', cursive;
  color: #fff;
}

footer {
  background: #ed6767;
  text-align: center;
}

footer a:link {
  color: #fff;

}

footer a:hover {
  color: black;

}